 <div id="masthead">
	<form action="/search" id="results-search" method="post">
	<input type="text" id="search-box" title="search-term" name="q" class="search-box" value="what's going on in council meetings? " onclick="ClearInput('what\'s going on in council meetings? ', this.id);"/>
	<input type="submit" title="find a topic" name="find a topic" value="find a topic" class="search-button" />
	</form>
	<h1>the transparency machine</h1><h2>your council. your say.</h2>
	</div>
	<div class="results">
	<span class="searched-for">you searched for</span>
	<h3><%= params[:q] %></h3>
	<p>we found <%= @agenda_docs.size %> discussions in the minutes from 25 meetings and 3 committees</p>
	<div class="relevant-committees">relevant committees</div>

  <!-- <%= render :partial=>'result', :collection=>@agenda_docs %> -->


	</div>
	<div class="columns-bottom">
		<div class="bottom right action"><h3>local action groups</h3><p>join in, get involved, make things better</p>
		<ul>
		<li><a href="#">Bicycles Brighton</a></li>
		<li><a href="#">Critical Mass Bike Ride</a></li>
		<li><a href="#">Low Tide Bike Ride</a></li>		
		</ul>
	</div>
	<div class="bottom two"><h3>results from meeting minutes</h3>
	  
  <%= render :partial=>'result', :collection=>@agenda_docs %>	</div>

	</div>
	</div>
	<div class="clearer"></div>